.navbar .nav-item{
    transition: 0.5s;
}

.navbar .nav-item:hover {
    background: #111;
   
}
.navbar .navbar-brand{
    transition: 0.5s;
}
.navbar .navbar-brand:hover{
   
    transform: scale(1.1);
    
}
.con {
    position: relative;
    text-shadow: 7px 4px 4px black ;
    height: 100vh;
    width: 100%;
    background-image: url(../img/family_cars_header.jpg);
    background-size: cover;
    
}
.con2{
    height: 40vh;
    text-align: center;
    padding-top: 50px;
    
    text-shadow: 6px 4px 3px black;
    
}


.crad-img-top{
    background-size: cover;
    width: 100%;
    height: 38vh;
    
}

.car{
    text-shadow: 6px 4px 3px black;
    margin: 50px 0;
    transition: 0.5s;
}
.car:hover{
    letter-spacing: 2px;
}
#footer-brand{
    font-size: 50px;
}
#btnscroll{
    color:#111 ;
    position: fixed;
    bottom:10px;
    right: 10px;
    border: 2px black solid ;
    font-size: 30px;
    background-color:goldenrod ;
    border-radius: 40px;
    display: none;
}
.carousel{
    background-size:cover;
    width: 100%;
    height:100vh ;
}
.card-title{
    text-shadow: 6px 4px 7px black;
}